@using Datalayer.Entities
@using System.Globalization

@model User

@{
    ViewBag.Title = "پیشخوان | ویرایش کاربر";

    PersianCalendar pc = new PersianCalendar();
    string PDate = pc.GetYear(Model.RegisterDate).ToString() + "/" + pc.GetMonth(Model.RegisterDate).ToString() + "/" + pc.GetDayOfMonth(Model.RegisterDate).ToString();

    string role = "";

    if (Model.Role == 1)
    {
        role = "مدیر";
    }
    else if(Model.Role == 5)
    {
        role = "کاربر";
    }

}

<div class="wrapper wrapper-content animated fadeInRight">
    @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal MainForm" }))
    {
        <input type="hidden" name="userId" value="@Model.Id" readonly="readonly" />
        <div class="row">
            <div class="col-sm-9 no-padding">
                <div class="col-sm-12">
                    @Html.ValidationSummary(true, "لطفا خطاهای زیر را برطرف نمایید:", new { @class = "text-danger alert alert-danger" })
                </div>
                <div class="col-sm-12">
                    @{
                        if (ViewBag.Message != null)
                        {
                            <div class="col-sm-12 alert alert-success">
                                <span>@ViewBag.Message</span>
                            </div>
                        }
                    }
                </div>
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>محتوای اصلی</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>

                        <div class="ibox-content">
                            <div class="form-group">
                                <label style="text-align:right" class="col-sm-2 control-label">شناسه</label>

                                <div class="col-sm-10">
                                    <span>@Model.Id</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label style="text-align:right" class="col-sm-2 control-label">موبایل</label>

                                <div class="col-sm-10">
                                    <span>@Model.PhoneNumber</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label style="text-align:right" class="col-sm-2 control-label">تاریخ عضویت</label>

                                <div class="col-sm-10">
                                    <span>@PDate</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label style="text-align:right" class="col-sm-2 control-label">نقش</label>

                                <div class="col-sm-10">
                                    <span>@role</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label style="text-align:right" class="col-sm-2 control-label">نام</label>

                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label style="text-align:right" class="col-sm-2 control-label">نام خانوادگی</label>

                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 no-padding">

                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>عملیات</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content" style="padding:15px 10px 20px 10px;">

                            <button class="btn btn-primary" style="width:145px;display: block;margin: 0px auto 5px;" type="submit"><i class="fa fa-check"></i>ذخیره</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    }

   
</div>