@model string

<h2>ورود با رمز عبور</h2>
<p>لطفا رمز خود را وارد کنید</p>
<form asp-controller="User" asp-action="LoginWithPassword" method="post" data-ajax=true data-ajax-mode="replace" data-ajax-update="#authenticationForm" data-ajax-loading="#loadingCircle" data-ajax-success="LoginCompleted(data)">
    <input type="hidden" name="MustSendSms" value="@ViewBag.MustSendSms" />

    <a class="ActionLinkInLogin" style="margin-top: 5px;margin-bottom: 10px;" asp-controller="User" asp-action="ShowLoginForm"
       data-ajax="true" data-ajax-method="Post" data-ajax-mode="replace" data-ajax-update="#authenticationForm">تغییر شماره موبایل</a>

    <input type="hidden" name="phoneNumber" value="@Model" />
    <input type="password" name="Password" placeholder="رمز عبور" />
    <div class="errorMsg">
        @Html.ValidationSummary(true)
    </div>
    <a class="ActionLinkInLogin" asp-controller="User" asp-action="ShowLoginWithCode" asp-route-phoneNumber="@Model" asp-route-MustSendSms="@ViewBag.MustSendSms"
       data-ajax="true" data-ajax-method="Post" data-ajax-mode="replace" data-ajax-update="#authenticationForm">ورود با کد یک بار مصرف</a>
    <button type="submit">ورود</button>
</form>