@using Core.Services.Interfaces
@using Core.ViewModel;
@using Datalayer.Entities
@model Order

@inject IProductService _productService

@{
    var totalPrice = _productService.GetTotalPriceInOrder(Model.Id);
    var coupnPrice = _productService.CalculateOffValue(Model, totalPrice);

    var totalRegularPrice = _productService.GetTotalRegularPriceInOrder(Model.Id);

    var totalNumber = _productService.GetTotalNumberInOrder(Model.Id);

    var shippingPrice = (Model.ShippingId != null) ? Model.Shipping.ShipPrice : -2;

    int FinalShipPrice = (shippingPrice > 0) ? shippingPrice : 0;
}
<div class="title">
    <p>جزئیات سبد خرید</p>
    <div class="clear"></div>
</div>
<div class="CartDetailsItem">
    <span style="float:right">تعداد محصولات</span>
    <span style="float:left">@totalNumber عدد</span>
</div>
<div class="CartDetailsItem">
    <span style="float:right">مجموع قیمت کالا ها</span>
    <span style="float:left">@((totalRegularPrice - FinalShipPrice).ToString("#,0")) تومان</span>
</div>


<div class="CartDetailsItem">
    <span style="float:right">هزینه ارسال</span>
    @{
        if (shippingPrice > 0)
        {
            <span id="shipPriceValue" style="float:left">@(shippingPrice.ToString("#,0")) تومان</span>
        }
        else if(shippingPrice == 0)
        {
            <span id="shipPriceValue" style="float:left">رایگان</span>

        }
        else if(shippingPrice == -1){
            <span id="shipPriceValue" style="float:left">پس کرایه</span>

        }
        else
        {
            <span id="shipPriceValue" style="float:left">مشخص نشده است</span>

        }
    }
</div>

@{
    int totalOff = totalRegularPrice - totalPrice;

    if(totalOff > 0)
    {
        <div class="CartDetailsItem" style="color:red;">
            <span style="float:right">سود شما از خرید</span>
            <span style="float:left">@totalOff.ToString("#,0") تومان</span>
        </div>
    }

    if (coupnPrice > 0)
    {
        <div class="CartDetailsItem" style="color:red;">
            <span style="float:right">کد تخفیف</span>
            <span style="float:left">@coupnPrice.ToString("#,0") تومان</span>
        </div>
    }

    
}


<div class="CartDetailsItem" style="font-weight:500; font-size:14px">
    <span style="float:right">مبلغ قابل پرداخت</span>
    <span style="float:left">@((totalPrice - coupnPrice).ToString("#,0")) تومان</span>
</div>
<div class="clear"></div>



