@using Core.Services.Interfaces
@using Core.ViewModel;
@using Datalayer.Entities
@using System.Globalization;

@model Comment

<tr id="comment_@Model.Id" class="gradeX anyuser @((!Model.IsRead)?"unreadComment":"")">

    <td style="vertical-align: middle;text-align: center;">@Model.Name</td>
    <td style="vertical-align: middle;text-align: center;">@Model.Message</td>
    <td style="vertical-align: middle;text-align: center;"><a href="~/Product/@Model.Product.Slug">@Model.Product.Title</a></td>
    <td style="vertical-align: middle;text-align: center;">@Model.CreationDate.ToString("dddd dd MMMM yyyy HH:mm", new CultureInfo("fa-IR"))</td>

    <td style="vertical-align: middle;">
        <div class="center-block" style="width:122px;">


            <button class="btn btn-primary confirmbtn replyBtn" data-productid="@Model.Product.Id"
                    id="reply_@Model.Id" onclick="showReplyArea(this)" style="width: 38px;padding-top: 7px;padding-bottom: 3px;height: 34px;padding-right: 10px;">
                <i style="font-size: 18px;" class="fa fa-reply"></i>
            </button>

            <a class="btn btn-danger TableDeletebtn" onclick="DeleteComment(@Model.Id)"
               style="width: 38px;padding-top: 7px;padding-bottom: 3px;height: 34px;padding-right: 10px;" id="delete_@Model.Id"><i style="font-size: 18px;" class="fa fa-trash"></i></a>
        </div>
    </td>

</tr>

<tr class="gradeX" id="replyCom_@Model.Id"></tr>






